{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title_block %} 
    {{ user.user_profile.full_name }} (@{{ user.username }}) 
{% endblock %}
{% block css_block %}
{% endblock %}
{% block body_block %}
<div class="row">
    <div class="col-sm-4">
        {% if user.user_profile.profile_pic %}
        <img src="/media/{{user.user_profile.profile_pic}}" alt="" width="250px" height="250px" style="border-radius: 50%;">
        {% else %}
        <img src="/media/profile_pics/default.jpg" alt="" width="200px" height="200px" style="border-radius: 50%;">
        {% endif %}
    </div>
    <div class="col-sm-8">
        <h2>@{{ user.username }} &nbsp; <a href="{% url 'App_Login:edit_profile' %}" class="btn btn-primary">Edit profile</a></h2>
        <h4>{{ user.posts.count }} posts &nbsp; &nbsp; {{ user.following.count }} Followers &nbsp; &nbsp;{{ user.follower.count }} Following </h4>
        <br>
        <h3>{{ user.user_profile.full_name }}</h3>
        <h6>{{ user.user_profile.description| linebreaks }}</h6>
    </div>
</div>
<hr>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    New post
  </button>
  
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Post a photo</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form method="POST">
            {{ form|crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Post</button>
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
{% endblock %}